$squareWidth: 10px;
$gap: 3px;
$maxX: $squareWidth + $gap;
$numSquares: 3;

.svg {
  .rect {
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: var(--i);
  }
}

@keyframes move {
  3%,
  97% {
    transform: translateX(0px) translateY(0px);
  }
  22%,
  28% {
    transform: translateX($maxX);
  }
  47%,
  53% {
    transform: translateX($maxX) translateY($maxX);
  }
  72%,
  78% {
    transform: translateY($maxX);
  }
}
