.spinner {
  .circle {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: var(--i);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  85%,
  100% {
    transform: rotate(360deg);
  }
}
