$totalDuration: 14s;

.svg {
  path {
    transform-origin: 256px 256px;
    animation-iteration-count: infinite;

    &.littlehand {
      animation-name: littlehandRotate;
      animation-duration: $totalDuration;
      animation-timing-function: linear;
    }

    &.bighand {
      animation-name: bighandRotate;
      animation-duration: $totalDuration/12;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes littlehandRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bighandRotate {
  0% {
    transform: rotate(0deg);
  }
  75%,
  100% {
    transform: rotate(360deg);
  }
}
