@@ -1,24 +0,0 @@
.spinner {
  .circle {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    @for $i from 1 through 8 {
      &:nth-of-type(#{$i}) {
        animation-delay: #{0.063 * $i}s;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  85%,
  100% {
    transform: rotate(360deg);
  }
}
