@tailwind base;
@tailwind components;
@tailwind utilities;

/* Resets*/
body,
html {
  padding: 0;
  margin: 0;
}
/* Global behavior */
html {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* Global utils */
.font-fancy {
  font-family: "Sansita Swashed", cursive;
}
